# Logs
logs
.log/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.error

# Rust / Tauri
src-tauri/target
target

# Custom Dev Scripts
target_alt
run_sandbox
# s
src-tauri/src/bin/debug_events.rs
.log/
